@font-face {
  src: url(font/Cocogoose\ Pro\ Semilight-trial.ttf) format('truetype');
  font-family: Techno ;
}
@font-face {
  src: url(font/coolvetica\ rg.otf) format('truetype');
  font-family: Cont ;
}
.nav-color {
  background-color: darkred;
}
body, html {
  height: 10%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

.bg-image {
  max-height: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: silver;
}
.img1 { background-image: url("img/crcheader.png"); 
}


.text-title { 
  color: black;
  font-family: Techno ;
}
.text-content {
  font-family: cont ;
}
.vid {
  max-width: 90%;
}
.imggal img{
  max-height: 300px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 100px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 110%;
  padding: 0 0px;
}

.column img {
  margin-top: 20px;
  vertical-align: middle;
  width: 100%;
}
.logoimg img{
  margin: 20px 5px;
  width: 40px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}


